body {
	background-color:#FAFBFD;
}
.all-header {
	width:1365px;
	/*width:1365px;*/
	height:56px;
	border-bottom: 5px solid #65B600;
	/*border:1px solid red;*/
}
.all-logo {
	margin:0px 80px 0px 200px ;
	float:left;
	/*border:1px solid red;*/
}
.all-query {
	padding-top: 0 0 0 0px;
	float:left;
	/*border:1px solid blue;*/
}

.all-query .all-text  {
	width:580px; 
	height:38px;
	border:2px solid #FFBA00;
}
.all-query .all-btn  {
	width:70px; 
	height:40px; 
	color:white;
	font-weight: bold;
	border:2px solid #FFBA00;
	margin-top: 5px;
	margin-bottom:10px;
	font-size: 15px; 
	background-color:#FFBA00;
	border-radius:5px;
	/*-moz-border-radius:5px;
	-webkit-border-radius:5px;*/
}
.all-header-right {
	margin-top: 20px;
	margin-right: 40px;
	float:right;
/*	border:1px solid red;*/
}
.all-header-right a {
	color:#B3B3B4;
}
.all-header-right a:hover {
	color:red;
}




.new-mid {
	width:1000px;
	height:1650px;
	border: 1px solid #CCCCCC;
	border-top: 0px;
	padding:20px 20px 20px 20px;
	margin-left: 150px;
	box-shadow: 5px 5px 10px #D6D5D5;
	background-color: white;
	/*border:1px solid red;*/
}
.new-mid .new-mid-left {
	width:720px;
	padding:5px 15px 0px 15px;
	border-right: 1px solid #CCCCCC;
	float:left;
	/*border:1px solid red;*/
}
.new-mid .new-mid-left .new-title {
	font-size: 20px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #CCCCCC;
	text-align: center;
	/*border:1px solid red;*/
}
.new-mid .new-mid-left .new-yiyan{
	color: #666682;
	font-size: 12px;
	margin-top: 20px;
	text-align: center;
	/*border:1px solid red;*/
}
.new-mid .new-mid-left .new-text {
	/*border:1px solid red;*/
}
.new-mid .new-mid-left .new-text img {
	margin-top: 30px;
	margin-left: 85px;
}
.new-mid .new-mid-left .new-text span {
	font-size: 16px;
}
.new-mid .new-mid-left .new-text p {
	text-indent:30px;
	font-size: 16px;
	margin-top: 30px;
	line-height: 25px;
}
.new-mid .new-mid-left .new-text label {
	float:right;
	margin-bottom: 30px;
}

.new-mid .new-mid-right {
	width:230px;
	float: left;
	padding-top: 22px;
	/*border:1px solid green;*/
} 
.new-mid .new-mid-right .new-mid-other {
	margin-bottom: 40px;
	/*border:1px solid red;*/
}
.new-mid .new-mid-right .new-mid-other .new-mid-other-title {
	margin-bottom: 5px;
	margin-left: 10px;
	border-bottom: 1px solid #CCCCCC;
	/*border:1px solid red;*/
}
.new-mid .new-mid-right .new-mid-other span {
	color:green;
	font-weight: bold;
	margin-left: 5px;

}
.new-mid .new-mid-right .new-mid-other ul {
	margin-top: 10px;
}
.new-mid .new-mid-right .new-mid-other li {
	line-height: 25px;
	list-style-type: circle;
}
.new-mid .new-mid-right .new-mid-other li a {
	color: #666682;
	font-size: 12px;
	text-decoration: none;
}
.new-mid .new-mid-right .new-mid-other li a:hover {
	color:red;
	text-decoration: underline;;
}



.all-tail {
	width:1250px;
	/*width:1250px;*/
	float:left;
	height:100px;
	margin-top:40px; 
	margin-left:50px; 
	margin-right:15px; 
	border-top: 2px solid #B3B3B4;
	/*border:1px solid red;*/
}
.all-tail .all-tail-text {
	width:510px;
	height:100px;
	font-size: 13px; 
	margin-top:10px; 
	margin-left:400px;
	/*border:1px solid red;*/
}
.all-tail .all-tail-text .all-tail-text1 {
	width:370px;
	height:20px; 
	margin-left:62px;
	/*border:1px solid red;*/
}
.all-tail .all-tail-text .all-tail-text1 a {
	color:#EE6911; 
	margin-right:10px;
}
.all-tail .all-tail-text .all-tail-text2 {
	width:510px;
	height:20px; 
	margin-top:10px;
	/*border:1px solid red;*/
}
.all-tail .all-tail-text .all-tail-text2 a {
	color:green; 
	margin-right:10px;
}
#baidu a{
	color:#EE6911; 
}
#about a{
	color:green;
}